# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab

# Gradle
.gradle
**/build/

# Secrets
local.properties
*.keystore

# OS
Thumbs.db
